<p>Join the <a href="{{ clubURL }}">{{ city }} Sunday Night Film Club</a> this <b>{{ nextSunday }}{{ daySuffix }}</b> at <b>{{ showTime }}</b> for <a href="{{ filmURL }}">{{ film }}</a> at the <a href="{{ locationURL }}">{{ location }}</a>. Look for <a href="{{ hostURL }}">{{ host }}</a> wearing {{ wearing }} in the theatre lobby about 15 minutes before the film. As always, after the film we will descend on a local establishment for dinner/drinks/discussion.  </p>
{% for paragraph in synopsis %}
<p>{{ paragraph }}</p>
{% endfor %}
