<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN'>
<html lang="en">

<head>
    <link media="all" href="static/tool.css" type="text/css" rel="stylesheet" />
    <title>Boston SNFC Newsletter Tool</title>
    <script src="static/js/jquery-3.7.1.min.js" type="text/javascript"></script>
    <script src="static/js/main.js" type="text/javascript"></script>
</head>

<body>
    <div id="responseDiv">
        <ul>
            {% for item in responses %}
            <li>{{ item|safe }}</li>
            {% endfor %}

        </ul>
    </div>
</body>

</html>